<div class="row text-center">
  <h1>Destination <%= @place.name %> was added sucessfully</h1>
</div>

<div class="row text-center">
  <a class="btn btn-primary" href="/">View all places or add another!</a>
</div>
